* {
	box-sizing: border-box;
	font-family: runescape;
	letter-spacing: 2px;
	background: #000;
	color: #FFFF00;
}

body { background: #3E3529; }

button { cursor: pointer; }

button:disabled { cursor: default; }

button:focus { outline:0; }

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

#cmlacc {
	border: 1px solid #716451;
	background-color:rgba(0, 0, 0, 0);
	color: white;
	font-size: 13px;
	font-weight: 300;
	margin-bottom: 5px;
	margin-top: 5px;
	padding: 10px;
}

#cmlsubmit {
	background:#666;
	border: 1px solid #716451;
	color: #FFFF00;
	font-size: 13px;
	font-weight: 300;
	line-height: 1;
	margin-bottom: 10px;
	padding: 10px;
}

#cmlsubmit:hover {
	color: white;
}