@font-face {
  font-family: 'runescape';
  src: URL('../fonts/runescape_uf.ttf') format('ttf');
}

* {
	box-sizing: border-box;
	font-family: runescape;
	letter-spacing: 2px;
}

body { background: #3E3529; }

button { cursor: pointer; }

button:disabled { cursor: default; }

button:focus { outline:0; }

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

.container {
	width: 200px;
	align-content: center;
}


/* Links */
.links {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	align-content: center;
}

.link {
	background:#54544F;
	border: 1px solid #716451;
	color: #FFFF00;
	font-size: 13px;
	font-weight: 300;
	line-height: 1;
	margin-bottom: 5px;
	padding: 5px;
	width: 45%;
}

.link:hover {
	color: white;
}


/* search */
.search {
	text-align: center;
}

.search-input {
	border: 1px solid #716451;
	background-color:rgba(0, 0, 0, 0);
	color: white;
	height: 35px;
	font-size: 13px;
	font-weight: 300;
	margin-bottom: 5px;
	margin-top: 5px;
	padding: 10px;
	width: 92%
}

.search-button {
	background:#666;
	border: 1px solid #716451;
	color: #FFFF00;
	font-size: 13px;
	font-weight: 300;
	line-height: 1;
	margin-bottom: 10px;
	padding: 6px;
	width: 92%
}

.search-button:hover {
	color: white;
}

/* Combat Calc */
.combat {
	display: none;
}

#lvltitle {
	color: white;
	font-size: 30px;
	margin-bottom: 10px;
	margin-top: 10px;
	text-align: center;
}

.combat-form {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	align-content: center;
}

.tnlcontainer {
	margin-bottom: 15px;
	width: 100%;
}

.tnlcontainer > .title {
	font-size: 15px;
}

.tnlcontainer > .topic {
	font-size: 15px;
}

.combat > .combat-form > span {
	color: #FFFF00;
	font-size: 13px;
}

.link-combat {
	margin-left: 3px;
	margin-right: 3px;
}


.form-input {
	background-color:rgba(0, 0, 0, 0);
	border: 1px solid #716451;
	color: white;
	height: 18px;
	font-size: 13px;
	font-weight: 300;
	margin-bottom: 6px;
	margin-left: 10px;
	margin-right: 10px;
	padding: 10px;
	width: 100%
}

.stats {
	width: 60%;
}


#donate {
	width: 100%;
	text-align: center;
}

#donate a {
	color: white;
}